* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    background-color: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.routes a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 15px;

}

.btn-success {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 15px;
    background-color: #30B868;
    border-radius: 4px;
}
.btn-success:hover {
    background-color: #5bd2b2;
    
}

.banner {
    background-image: url("/assets/images/hero-bg.png");
    background-repeat: no-repeat;
    height: 674px;
    color: white;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-items {
    max-width: 900px;
    padding: 0 24px;
    text-align: center;
}

.early-access {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    background: #ffffff;
    color: #30b868;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
}

.banner-items h1 span {
    color: #30b868;
}

.subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
}

.btn-flex {
    display: flex;        
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
  
}

.btn-flex img {
    display: block;
    width: 18px;
    height: 18px;
}

.banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-outline{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.btn-outline:hover {
    background-color: #c4c1c1;
    
}

.notes {
    width: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
}

.text h1{
    font-size: 48px;
}

.text p{
    line-height: 50px;
    font-size: 16px;
    color: #627382;
    margin-top: 10px;
    margin-bottom: 40px;
}


.card {
    max-width: 1360px; 
    margin: 50px auto; 
    padding: 0 24px; 
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.card-item {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 12px;
    text-align: center;
    flex: 1;
    border: 1px solid #eeeeee;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;

    background: #ff5a5f;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

.card-item h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.card-item p {
    font-size: 14px;
    color: #a09c9c;
}

.solution {
    max-width: 1360px; 
    margin: 100px auto; 
    padding: 0 24px; 
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 50px;
}

.solution-left {
    width: 680px;
}

.solution-left img {
    width: 100%;
    display: block;
}

.solution-right {
    width: 680px;
}

.title {
    font-size: 12px;
    font-weight: 600;
    color: #30b868;
}

.solution-right h2 {
    font-size: 36px;
    margin: 12px 0 16px;
    line-height: 1.5;
}


.description {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 20px;
}

.features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    font-size: 14px;
    margin-bottom: 12px;

    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.features i {
    width: 18px;
    height: 18px;

    border: 1px solid #30b868;
    color: #ffffff;
    background-color: #30B868;

    border-radius: 50%;
    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.early-access-main {
    max-width: 1360px; 
    margin: 100px auto; 
    padding: 0 24px; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    text-align: center;
    padding: 75px 0;
    border-radius: 12px;
}

.early-access-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #001931;
}

.early-access-main a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.description-big {
    font-size: 16px;
    color: #627382;
    margin-top: 10px;
}

footer {
    background-color: #001931;
    max-width: 100%;
    color: #ffffff;
    padding: 50px 0 20px;
}

.main-footer {
    width: 85%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #3b4a41;
}

.footer-logo img {
    height: 42px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.social-title {
    font-size: 14px;
    font-weight: 500;
    color: #c7c3c3;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.footer-socials a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001931;
    font-size: 14px;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
    font-size: 14px;
    color: #eeeeee;
}